<div class="card">
  <div class="card-panel hoverable">
    
    <%= "A GPBO customer since #{@user.created_at.year}"%><br /><br />

    <b>Email:&nbsp;&nbsp;</b><br>
      
      <%= "Email: #{@user.email}"%><br /><br /> 
  </div>
</div>