<%# <%= render partial: "partials/form_structure", locals: {object: @user, 
                                                        type_of_form: "Edit User",
                                                        fields: "fields"} %> 

<div class="pi-contact-box">
    <div class="container">                        
        <div class="pi-sec-title">
            <h2 class="pi-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">Can’t find <br> what you’re looking for? </h2>
            <p class="wow fadeInUp" data-wow-duration="1.7s" data-wow-delay=".7s" style="visibility: visible; animation-duration: 1.7s; animation-delay: 0.7s; animation-name: fadeInUp;">We will be happy to answer your questions.</p>                               
        </div>
    <ul class="pi-box">
        <li class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
            <img src="./img/contact/phone.png" alt="">
            <a href="tel:+64242667924"> +642 426 679 24 </a>
        </li>
        <li class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
            <img src="./img/contact/email.png" alt="">
            <a href="mailto:info@vsaasi.com"> info@vsaasi.com </a>
        </li>
        <li class="wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
            <img src="./img/contact/address.png" alt="">
            <span>New York, USA</span>
        </li>
    </ul>
    <div class="pi-blog-form">
        <div id="layer5" class="layer5" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
            <div data-depth="0.30" style="transform: translate3d(-8px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                <img class="pi-absolute layer-b-1" src="./img/contact/dots.png" alt="">
            </div>
        </div>
        <div id="blog-form" class="blog-form wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: none;">
            <div id="form-messages"></div>
            <form id="pi-contact-form" method="post" action="https://reactheme.com/products/html/saasi/mailer.php">                                                    
            <div class="row">
                <div class="col-lg-6">
                    <div class="pi-input">
                        <label>Your Name</label>
                        <input type="text" id="name" name="name" placeholder="Your Name" required="">
                        <img src="./img/contact/user.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pi-input">
                        <label>Email</label>
                        <input type="email" id="email" name="email" placeholder="Your Email" required="">
                        <img src="./img/contact/sms.png" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pi-input">
                        <label>Subject</label>
                        <input type="text" id="subject" name="subject" placeholder="Subject" required="">
                        <img src="./img/contact/sub.png" alt="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pi-textarea">
                        <label>Message</label>  
                        <img src="./img/contact/coments.png" alt=""> 
                        <textarea id="message" name="message" placeholder="Your message here"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="pi-check-box">
                        <input type="checkbox" id="box-1"> By clicking this I have read and agree to the <a href="https://reactheme.com/products/html/saasi/contact.html#">Terms &amp; Conditions.</a>
                    </div>
                    <button type="submit" class="pi-btn mt--20">Send Message</button>
                </div>
            </div>                                                    
        </form>
    </div>
    <div id="layer6" class="layer6" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; position: relative; pointer-events: none;">
        <div data-depth="0.20" style="transform: translate3d(-5.3px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
            <img class="pi-absolute layer-b-2" src="./img/contact/circle.png" alt="">
        </div>
    </div>
</div>
</div>
</div>

<%= link_to 'Back', :back %>

<a href="<%= url_for(:back) %> " class="pi-btn wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s" style="visibility: hidden; animation-duration: 1.2s; animation-delay: 0.5s; animation-name: none;">Back</a>    