<% if (!@is_signed_in) %>
<h2>Please sign in.</h2>
<% else %>
<%= @cognito_session.user.id %>
<%= render 'user' %>
<% end %>
<!-- 
<!DOCTYPE html>
<html lang="en">

<head>  
</head>
<body style="background-color: teal lighten-2">
    <header>
        <div>
        </div>
        <div class="center">
            <h1>WELCOME TO  <span>Healome</span> Edwd</h1>
            
        </div>
        <div>
            <% if !@is_signed_in %>
                <h2>Please sign in.</h2>
            <% else %>
                <h2>Yessir.</h2>
                <%= render 'user' %>
            <% end %>
        </div>
    </header>
</body>
</html> 
-->



